body {
	color:#fff;
	background-color:#222;
	font-size:20px;
}
#holder {
	display: inline-block;
}
#mapCan {
	border: 3px solid rgb(175, 174, 174);
	border-radius: 5px;
	width: 65%;
}
#mapDiv{
	display: inline;
}
#statBox {
	border: 3px solid rgb(175, 174, 174);
	border-radius: 5px;
	width: 32%;
	vertical-align: top;
	display: inline-block;
}
.collapsible{
	background-color: #222;
	cursor: pointer;
 	padding: 18px;
  	width: 100%;
  	border: none;
  	text-align: left;
  	outline: none;
	font-size: 20px;
	margin-left: -10px;
}
.collapsible:after {
	content: '\02795'; 
	font-size: 13px;
	float: right;
	margin-left: 5px;
}
  
.activeCollapsible:after {
	content: "\2796";
}
.activeCollapsible, .collapsible:hover {
	background-color: #222;
}
.collapsibleContent {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #222;
}
.tabBar{
	overflow: hidden;
  	border: 1px solid #555;
  	background-color:#444;
}
.tabBar button{
	background-color: #444;
	color: rgb(175, 174, 174);
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	padding: 14px 16px;
  	transition: 0.3s;
}
.tabBar button:hover{
	background-color: #666;
}
.tabBar button.active{
	background-color: #ccc;
	color: #222;
}
.tabcontent{
	display: none;
  	padding: 6px 12px;
  	border: 1px solid #ccc;
  	border-top: none;
}