body {
	color:#fff;
	background-color:#222;
	font-size:20px;
}
#holder {
	display: inline-block;
}
#mapCan {
	border: 3px solid rgb(175, 174, 174);
	border-radius: 5px;
	width: 65%;
}
#mapDiv{
	display: inline-block;
}
#statBox {
	border: 3px solid rgb(175, 174, 174);
	border-radius: 5px;
	width: 15%;
	display: inline-block;
}